div{
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height: 120px;
    outline: solid 4px #999;
    padding: 20px;
}
section{
    align-items: center;
    background: lightgreen;
    display: flex;
    height: 600px;
    justify-content: center;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    resize: both;
    width: 60%;
}
section div {
    background: black;
    color: white;
    min-height: inherit;
    /*width: 50%;*/
    padding: 20px;
    resize: both;
    overflow: auto;
}
.column {
    background: white;
    height: 420px;
    /*width: 200px;
    overflow: auto;*/
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
}
.column >* {
    background: black;
    color: white;
    padding: 20px;
    resize: vertical;
    overflow: auto;
}
.flex-center {
    color: white;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    resize: vertical;
    overflow: auto;
}
.flex-center div {
    background: black;
    margin: 0;
    padding: 20px;
}
.float-left{
    float: left;
    margin: 0 10px 0 0;
}
.ghost-center {
    position: relative;
    /*white-space: nowrap;*/
}
.ghost-center::before {
    content: " ";
    display: inline-block;
    /*height: 100%;*/
    height: 220px;
    width: 1%;
    vertical-align: middle;
}
.ghost-center p:not(.warn) {
    display: inline-block;
    vertical-align: middle;
    /*width: 190px;*/
    margin: 0;
    padding: 20px;
    background: brown;
}
.no-margin{
    margin:0;
}
.relative{
    position: relative;
}
.warn{
    background-color: yellow !important;
    color: orangered;
    margin-top:0;
    padding:20px;
    position: absolute;
    top: 0;
    right: 0;
}
.warn::before{
    content: 'Has problems';
}
/**/
.table-cell{
    display: table-cell;
    height:120px;
    vertical-align: middle;
}
.table-cell +div{
    margin-top: 20px;
}
.placeholder-icon,
#diigolet-notice,
#ucss-style{
    display: none !important;
}