*{
    box-sizing: border-box;
    font-family: Tahoma, serif;
}
h1, h2, h3, h4, h5, header{
    font-family: Verdana, serif;
}
header{
    font-weight: bold;
    background-color: #444;
    margin: -10px -10px 10px;
    padding: 10px;
}
main{
    margin: auto;
    max-width: 960px;
}
[draggable] {
    cursor:move;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* classes */
.bg-violet {
    background-color: #D063CA;
}
.bg-orange {
    background-color: #FFB500;
}
.bg-azure {
    background-color: #00FAFF;
}
.bg-darkazure{
    background-color: rgba(0,175,200,1);
}
.bg-darkmarine{
    background-color:#514378;
} 
.box-panel{
    margin-top:20px;
}   
.card{
    color:white;
    padding:10px;
}
.column{
    flex-grow:1;
    /*background-color: #eee;
    padding: 20px 0;*/
}
.box-panel .column{
    flex-grow: 0.33;
}
.column.over {
    border: 2px dashed #514378;
}
.moving{
    border:solid 2px #adadad
}
.box-flex .column:first-child{
    margin-left: 0;
    margin-right: 7.5px;
}
.box-flex .column:last-child{
   margin-right: 0;
   margin-left: 7.5px;
}
/* id id */
.box-flex{
    display: flex;
    flex: 1;
    /* by default:
    flex-direction: row;*/
}
.row{
    padding:10px 0;
}
.task{
    margin-bottom: 10px;
    padding: 10px;
}
.new .task{
    background-color: #B0FF00;
    color: black;
}
.processed .task{
    background-color: #38B2AE;
}
.done .task{
    background-color: #F3FF00;
    color: black;
}
.box-flex, .row, .column, .card{
    min-height:60px;    
}