*{
    box-sizing: border-box;
    font-family: Tahoma, serif;
}
body{
    display: flex;
    flex-direction: row;
}
h1, h2, h3, h4, h5, header{
    font-family: Verdana, serif;
}
header{
    color: whitesmoke;
    clear: both;
    font-weight: bold;
    background-color: #444;
    /* margin-bottom: 10px; */
    padding: 10px;
}
header, .card{
    cursor:move;
}
main{
    margin: auto;
    max-width: 1160px;
}
main > h1,
main > h2,
main > h3,
main > h4,
main > h5{
    padding: 0 5px;
}
#section-cards, #section-categories{
    overflow:auto;
    padding-top: 4px;
}
[data-drop-area="category-container"]{
    margin-top: 10px;
}
[draggable] {
    position: relative;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.bg-darkazure{
    background-color: rgba(0,175,200,1);
}
.bg-darkmarine{
    background-color:#514378;
} 
.box-panel{
    /* margin-right: 0 !important; */
    overflow: auto;
    padding: 10px 10px 0 0;
}
.box-panel .card{
    margin-right: 0 !important;
    padding-right: 28px;
    width: 273px;
}
.box-panel-container{
    overflow:auto;
    margin: 10px;
}
.remove{
    background-color: rgba(50,0,0,0.5);
    border-radius: 34%;
    display: inherit;
    height: 22px;
    margin: 3px 3px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}
.remove::after{
    content: "+";
    color: white;
    cursor: default;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    line-height: 1;
    margin-left: -1px;
    margin-top: 0px;
    opacity: 0.85;
    text-align: center;
    transform: rotate(45deg);
    width: 21px;
}
.card{
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0 120px 4px rgba(200,200,0,0.25) inset; */
    margin-bottom: 6px;
    padding: 10px 24px 10px 10px;
    /* outline: solid 2px #ccc; */
}
header +div{
    padding: 10px 10px 5px;
}
header +div > .card:not(:first-child){
    margin-top: 10px;    
}
.cards-box{
    min-height: 68px;
}
.card[data-task-status="new"]{
    background-color: #B0FF00;
    color: black;
}
.card[data-task-status="processed"]{
    background-color: #38B2AE;
    color:white;
}
.card[data-task-status="done"]{
    background-color: #F3FF00;
    color: black;
}
.cards-container, .row, .column{
    min-height: 67px;
}
.cards-container{
    overflow:auto;
}
.column,
.box-panel .card{
    float: left;
    margin: auto 10px 10px;
}
.column{
    width: 280px;
}
.column,
.box-panel-container{
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.15);
}
.column>[data-task-status]{
    min-height: 88px;
    padding:10px;
}
.column>[data-task-status="new"]{
    background-color: #D063CA;
}
.column>[data-task-status="processed"]{
    background-color: #FFB500;
}
.column>[data-task-status="done"]{
    bactask5kground-color: #00FAFF;
}
.column.over {
    border: 2px dashed #514378;
}
.drag-over{
    border: solid 4px rgba(155,0,0,0.5);
}
.issues{
    background-color: lightyellow;
    border: solid 6px rgba(0,0,0,0.5);
    max-width: 240px;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.moving{
    opacity: 0.75;
}
.row{
    padding:10px 0;
}

/*      */
[data-group-status]{
    /* background-color: #eee; */
    padding:10px;
}