.zone{
    box-shadow: 0 0 40px rgba(0,0,0,0.15) inset;
    margin: 10px auto;
    padding: 2em;
}
.outer{
    background-color: antiquewhite;
}
.source{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    display: table;
    font: 1em/1.5 Arial, Tahoma, Verdana, Serif;
    padding:10px;
}
#source{
    background-color: lightyellow;
} 
#source1 {
    background-color: lightskyblue;
}

#target {
    background-color: olivedrab;
    font-family: Verdana, Serif;
    /* border: 1px solid black; */
}
.pink{
    background: pink;
    padding:10px;
}