.container {
    margin: 10px 10px 10px 0;
    min-height: 80px;
    min-width: 320px;
    padding: 10px;
}

.float-left {
    float: left;
}

[class*="bg"] {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

.bg-pink {
    background-color: pink;
}

.bg-lightskyblue {
    background-color: lightskyblue;
}

.bg-linen {
    background-color: linen;
}

.command {
    color: blue;
    cursor: pointer;
    display: table;
    margin: 10px 0 20px;
}

.section-box {
    margin: 10px 10px auto;
    padding: 20px;
    background-color: orange;
}

.section-box h4 {
    background-color: #fff;
    display: table;
    margin: 0;
}

.test {
    background-color: yellow;
    cursor: move;
    overflow: hidden;
    padding: 20px;
}

#test-area {
    margin-bottom: 20px;
    overflow: hidden;
}

#test-area.collapsed {
    display: none;
}

hr {
    clear: both;
}
